
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.nav,
.banner,
.habits-section,
.run,
.bmi,
.chart-calcultaor-container,
.team-img-bg,
.footer,
.rights,
.rate{
    max-width: 1044px;
    margin: 0 auto;
}
.interfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Menu icon (hamburger) */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}
body{
    background: #000;
}

/* header-section */
.header{
    /* background: linear-gradient(180deg, #111 0%, rgba(20, 20, 20, 0.911) 100%); */
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
}

/* nav section */
.nav{
    display: flex;
    justify-content: space-between;
    /* background-color: blue */
}
.nav-list >li>a{
    text-decoration: none;
}
.nav-list{
    display: flex;
    align-items: center;

}
.nav-list li{
    list-style: none;
    margin-left: 45px;
}
.nav-title{
    color: #E6533C;
    font-family: Inter;
    font-size: 2.1rem;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
}
.nav-list a{
    color: #FFF;
    font-family: Inter;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
}
.shape{
    
    font-family: 'Miama';
    font-style: normal;
    font-size: 4.8rem;
    font-weight: 400;
    src: local('Miama'), url('Miama.woff') format('woff');
}

.home-btn{
    border-radius: 46px;
background: #E6533C;
padding: 8px 20px;
border: none;
color: #FFF;
font-size: 18px;
font-weight: 600;
}

/* banner-section */
.banner{
    display: flex;
    /* background-color: violet; */
}
.banner-content{
    width: 520px;
    margin-right: 167px;
    /* background-color: aqua; */
}
.banner-title{
    color: #FFF;
font-family: Inter;
font-size: 4.5rem;
font-weight: 900;
margin-bottom: 28px;
}
.banner-description{
color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
margin-bottom: 28px;
}

.banner-btn1{
    color: #FFF;
font-size: 1rem;
font-weight: 600;
    width: 224px;
    padding: 16px 48px;
    border-radius: 42px;
    margin-right: 14px;
    background: #E6533C;
    border: none;
}
.banner-btn2{
background-color: transparent;
    color: #FFF;
font-size: 1rem;
font-weight: 600;
    width: 224px;
    padding: 16px 48px;
    border-radius: 42px;
    border: 1px solid #FFF;
}
/* .banner-img{
    border: 5px solid yellow;
} */
.banner-img>img{
    width: 100%;
    height: 100%;
}
.turorial-card{
    /* position: absolute; */
    /* margin-top: 400px;
    margin-left: -470px; */
 width: 12.8rem;
height: 6rem;
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(48, 48, 48, 0.54);
backdrop-filter: blur(10px);
display: flex;
align-items: end;
margin-top: -150px;
margin-left:-100px;
}

.turorial-svg{
    margin-bottom: 1.8rem;
}
 
.turorial-head{
    color:  #FAFAF9;
font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 900;
line-height: 24px; /* 100% */
letter-spacing: 0.3px;
margin-bottom: 0px;
text-align: start;
}
.turorial-des{
    color: var(--Text-2, rgba(239, 237, 232, 0.65));

/* body-text */
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
margin-bottom: 0px;
text-align: start;
}

.turorial-card2{
    width: 12rem;
height: 6.1rem;
flex-shrink: 0;
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(10px);
position: absolute;
margin-top: -21.8rem;
margin-left: 15.6rem;
}

/* habits section */
.habits-cards{
    display: flex;
    justify-content: space-between;

}
.card-img{
    width: 100%;
   border-radius: 300px;
   background: url(<path-to-image>) lightgray 50% / cover no-repeat;
   
   margin: 0 auto;
}

.habits-header{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    text-align: center;
    color: #FFF;
font-size: 3rem;
font-weight: 900;
line-height: 120%;
}
.habits-des{
    width: 670px;
    margin: 0 auto;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 58px;
    color: rgba(255, 255, 255, 0.50);
text-align: center;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
}
.card-title{
    text-align: center;
    color: #FFF;
font-family: Inter;
font-size: 1.1rem;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 21.6px */

}
.card{
    width:calc((1044px - 120px)/4) ;
}
.card1>img{
    margin-right: -20px;
}

.card-des{
    color: rgba(255, 255, 255, 0.50);
text-align: center;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: 0.3px;
}


/* run-section */
.run{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    border-radius: 18px;
background: #222;
padding: 30px;
}
.run-container{
    width: 443px;
}
.run-header{
    color: #FFF;
font-family: Inter;
font-size: 3rem;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 57.6px */
margin-bottom: 14px;
}

.run-des{
    color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.3px;
margin-top: 0px;
margin-bottom: 34px;
}

/* BMI part */
.bmi{
    margin-top:88px;
    width: 671px;
}
.bmi-title{
    color: #FFF;
font-family: Inter;
font-size: 3rem;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 57.6px */

}
.bmi-des{
    color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.3px;
margin-top: 0;
}

/* chart-calculator section */

.chart-calculator{
    background: #222;
}
.chart-calcultaor-container{
    /* background-color: rgb(62, 39, 143); */
    display: flex;
    justify-content: space-between;
}
/* chart section */
table{
    width: 310px;
}
table,th,td{
    border: 2px solid rgb(56, 47, 47);
    border-collapse: collapse;
    text-align: start;
    padding: 10px;
}
.chart-title{
    color: #FFF;
font-family: Inter;
font-size: 1.75rem;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 33.6px */
margin-bottom: 52px;
}

th{
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}
td{
    color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 0.87rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 16.8px */
}
.chart{
    padding-top: 52px;
    padding-bottom: 133px;
}


/* calculator section */
.calculator{
    width: 577px;
    padding-top: 52px;
    padding-bottom: 133px;

}
.calculator-title{
    color: #FFF;
font-family: Inter;
font-size: 1.75rem;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 33.6px */
}
.calculator-des{
    color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.3px;
}
form{
    
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    gap: 12px;
}
form input{
    color: rgba(255, 255, 255, 0.60);
    padding: 12px 20px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.10);
}
::placeholder{
    color: rgba(255, 255, 255, 0.60);
}
#select-box{
    color: rgba(255, 255, 255, 0.60);
    grid-column: span 2;
    padding:12px 20px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.10);
}

#sex-box{
    color: rgba(255, 255, 255, 0.60);
    padding:12px 20px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.10);
}
.cal-btn{
    margin-top: 34px;
}

/* team-section */
.team-title,.team-des{
    text-align: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}

.team-img > img{
    width: 100%;
    height: 100%;
}
.team-img-bg{
    padding: 20px;
    border-radius: 18px;
background: rgba(255, 255, 255, 0.10);
}
.team-img{
    height: 272px;
align-self: stretch;
border-radius: 18px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.team-title{
    margin-bottom: 14px;
}
.team-des{
    margin-bottom: 58px;
}
.img-head{
    position: relative;
    margin-top: -50px;
    margin-left: 30px;
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 24px */
}
.img-des{
    position: absolute;
    margin-top: -25px;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 16.8px */
}

/* rate-section */
.rate-title{
    color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 57.6px */
text-align: center;
}
.rate-des{
    color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.3px;
text-align: center;
}

.rate-form textarea{
    width: 200%;
    text-align: center;
    font: bolder;
    font-size: 20px;
    background-color: rgb(197, 99, 99);
}



/* footer */
footer{
    margin-top: 88px;
    background: rgba(255, 255, 255, 0.10);
    
}
.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
}
.footer1-head{
    color: #E6533C;
font-family: Inter;
font-size: 70px;
font-style: italic;
font-weight: 800;
line-height: 120%; /* 84px */
}
.footer1-des{
    color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.3px;
}
.footer-link{
    display: flex;
    flex-direction: column;
    padding: 0px;
    
   
}
.footer-link>li{
    list-style: none;
    padding-bottom: 20px;
    
}
.footer2-head{
    color: #FFF;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 38.4px */

}
.footer-link>li>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.50);

font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 27.6px */
}

.footer1{
    width: 443px;
}
.footer2,.footer3{
    width: 181px;
    margin-top: 10px;
}

.rights{
    text-align: center;
    color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 120% */
letter-spacing: 0.3px;
}
.hrow{
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid rgba(255, 255, 255, 0.10);
}



/* responsibe */
@media screen and (max-width:576px) {
    .menu-icon {
        display: flex;
        justify-content: center;
        margin-right: 20px;
    }
    .nav-list{
        display: none;
    }
    .banner{
        flex-direction: column;
    }
    .nav-list{
        flex-direction: column;
    }
   .banner-content{
    width: 100%;
    margin: auto;
   }
  .banner-btn{
    display: flex;
  }
  .banner-title{
    color: #FFF;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 43.2px */
  }


   .turorial-card{
    position: absolute;
    margin-left: 10px;
    margin-top: -300px;
    /* background-color: blue; */
    width: 155.739px;
    height: 72.577px;
    
   }
   .turorial-card2{
    position: absolute;
    margin-left: -160px;
    margin-top: 50px;
    width: 145.911px;
    height: 74.089px;
    
   }

   .turorial-head{
    margin: 0;
    text-align: center;
font-size: 30.241px;
font-style: normal;
font-weight: 900;

   }
   .turorial-des{
    text-align: center;
font-size: 9.828px;
font-style: normal;
font-weight: 400;
   }


   /* habits-section */
   .habits-cards{
    flex-direction: column;
    align-items: center;
   }
.habits-header{
    width: 100%;
    color: #FFF;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 38.4px */
}
.habits-des{
    width: 100%;
    margin-bottom: 58px;
}
.card{
    margin-bottom: 40px;
}

/* run-section */
.run{
    flex-direction: column;
}
.run-container{
    width: auto;
}
.run-header{
    margin-top: 31px;
    padding-top: 0px;
}
.run-btn{
    width: 100%;
    margin-bottom: 31px;
}
.run>img{
    width: 100%;
}
/* bmi */
.bmi{
    width: 100%;
    margin-top: 30px;
}


/* chart-calculator */
.chart-calcultaor-container{
    flex-direction: column;
    width: auto;
}
.calculator{
    width: 100%;
    padding-bottom: 40px;
}
 form input{
    padding: 11px 0;
    width: 100%;
 }
 #sex-box{
width: 100%;
 }
 #select-box{
    width: 100%
 }

.chart{
    padding-bottom: 0;
    margin: 0 auto;
}

/* team section */
.team-img-container{
    grid-template-columns: 1fr;
}
.team-title{
    margin-top: 0;
}

/* footer */
.footer{
    flex-direction: column;
    padding-top: 0;
}
.footer1{
    width: 100%;

}

/* rate-section */
.rate{
    width: 100%;
}
}

